{%  extends 'accounts/main.html' %}

{% block content %}
<style>
    p {
        text-align: center;
    }

    .bannanaYogurtPots {
        background-image: url("https://i.pinimg.com/originals/0f/2a/68/0f2a6800f2ea8f31bb6ec3de18941f48.jpg");
        background-repeat: repeat-y;
        height: 600px;
        width: 600px;
    }

    .MoroccanChickpeaSoup {
        background-image: url("https://tse1.mm.bing.net/th?id=OIP.qEphboHDJTMVzw5ioPVkkgHaG-&pid=Api&P=0&w=170&h=161");
        background-repeat: repeat-y;
        height: 150px;
        width: 200px;
    }

    .SpicyMediterraneanBeetSalad {
        background-image: url("https://tse1.mm.bing.net/th?id=OIP.sMNJ4fuKzOuhGkU-RfPW1wHaKc&pid=Api&P=0&w=300&h=300");
        background-repeat: repeat-y;
        height: 300px;
        width: 500px;
    }

    .x {
        background-image: url("https://tse3.mm.bing.net/th?id=OIP.AgkoLGxTnCZeKFdPub5YYgHaEK&pid=Api&P=0&w=294&h=166");
        background-repeat: repeat-y;
        height: 170px;
        width: 400px;
    }

    .y {
        background-image: url("https://tse3.mm.bing.net/th?id=OIP.LOXfcXygv1qLNLunOX50CAHaE5&pid=Api&P=0&w=231&h=154");
        background-repeat: repeat-y;
        height: 150px;
        width: 220px;
    }

    .a {
        background-image: url("https://tse1.mm.bing.net/th?id=OIP.8Kl1pZtkpUwvJOU7T7OkdgHaE8&pid=Api&P=0&w=242&h=162");
        background-repeat: repeat-y;
        height: 160px;
        width: 220px;
    }

    .b {
        background-image: url("https://tse4.mm.bing.net/th?id=OIP.foMpl1DPjMrTtswOt7v8QgHaEk&pid=Api&P=0&w=248&h=154");
        background-repeat: repeat-y;
        height: 150px;
        width: 200px;
    }

    .c {
        background-image: url("https://tse4.mm.bing.net/th?id=OIP.jh3AbLi__7eoNwrVIkaC-QHaE8&pid=Api&P=0&w=228&h=153");
        background-repeat: repeat-y;
        height: 150px;
        width: 200px;
    }
</style>


<br>
<table class="table table-dark table-striped">
    <p>Sunday</p>

    <tr>
        <td>Breakfast (8:00-8:30AM)</td>

        <td>Lunch (2:00-2:30PM)</td>

        <td>Dinner (8:00-8:30PM)</td>
    </tr>
    <tr>
        <td>
            <a href="">
                Banana Yogurt
                Pots
            </a>
        </td>
        <td>
            Moroccan Chickpea
            Soup
        </td>
        <td>
            Spicy
            Mediterranean
            Beet Salad

        </td>
    </tr>
</table>
<table class="table table-dark table-striped">
    <p>Monday</p>

    <tr>
        <td>Breakfast (8:00-8:30AM)</td>

        <td>Lunch (2:00-2:30PM)</td>

        <td>Dinner (8:00-8:30PM)</td>
    </tr>
    <tr>
        <td>
            Banana Yogurt
            Pots
        </td>
        <td>
            Cannellini Bean
            Salad
        </td>
        <td>
            Moussaka
        </td>
    </tr>
</table>
<table class="table table-dark table-striped">
    <p>Tuesday</p>

    <tr>
        <td>Breakfast (8:00-8:30AM)</td>

        <td>Lunch (2:00-2:30PM)</td>

        <td>Dinner (8:00-8:30PM)</td>
    </tr>
    <tr>
        <td>
            Tomato and
            Watermelon Salad
        </td>
        <td>
            Edgy Veggie Wraps
        </td>
        <td>
            Spicy Tomato
            Baked Eggs
        </td>
    </tr>


</table>
<table class="table table-dark table-striped">
    <p>Wednesday</p>

    <tr>
        <td>Breakfast (8:00-8:30AM)</td>

        <td>Lunch (2:00-2:30PM)</td>

        <td>Dinner (8:00-8:30PM)</td>
    </tr>
    <tr>
        <td>
            Blueberry Oats
            Bowl
        </td>
        <td>
            Carrot, Orange and
            Avocado Salad
        </td>
        <td>
            Salmon with
            Potatoes and Corn
            Salad
        </td>
    </tr>


</table>
<table class="table table-dark table-striped">
    <p>Thursday</p>

    <tr>
        <td>Breakfast (8:00-8:30AM)</td>

        <td>Lunch (2:00-2:30PM)</td>

        <td>Dinner (8:00-8:30PM)</td>
    </tr>
    <tr>
        <td>
            Banana Yogurt
            Pots
        </td>
        <td>
            Mixed Bean Salad
        </td>
        <td>
            Spiced Carrot and
            Lentil Soup
        </td>

    </tr>


</table>
<table class="table table-dark table-striped">
    <p>Friday</p>

    <tr>
        <td>Breakfast (8:00-8:30AM)</td>

        <td>Lunch (2:00-2:30PM)</td>

        <td>Dinner (8:00-8:30PM)</td>
    </tr>

    <tr>
        <td>
            Tomato and
            Watermelon Salad
        </td>
        <td>
            Panzanella Salad
        </td>
        <td>
            <a href="">
                Mediterranean
                Chicken, Quinoa &
                Greek Salad
            </a>
        </td>
    </tr>

</table>
<table class="table table-dark table-striped">
    <p>Saturday</p>

    <tr>
        <td>Breakfast (8:00-8:30AM)</td>

        <td>Lunch (2:00-2:30PM)</td>

        <td>Dinner (8:00-8:30PM)</td>
    </tr>
    <tr>
        <td>
            Blueberry Oats
            Bowl
        </td>
        <td>
            Quinoa & Stir Fried
            Veg
        </td>
        <td>
            Grilled Vegetables
            with Bean Mash
        </td>
    </tr>


</table>
<h1>
    Banana Yogurt Pots
</h1>
<h1 class="bannanaYogurtPots"></h1>
<br />
<br />
<br />

<h1>Moroccan Chickpea Soup</h1>
<h1 class="MoroccanChickpeaSoup"></h1>
<br />
<br />
<br />
<h1>Spicy Mediterranean Beet Salad</h1>
<h1 class="SpicyMediterraneanBeetSalad"></h1>
<br />
<br />
<br />
<h1>Cannellini Bean Salad</h1>
<h1 class="x"></h1>
<br />
<br />
<br />
<h1>Moussaka</h1>
<h1 class="y"></h1>
<br />
<br />
<br />
<h1>Moussaka</h1>
<h1 class="a"></h1>
<br />
<br />
<br />
<h1>Moussaka</h1>
<h1 class="b"></h1>
<br />
<br />
<br />
<h1>Moussaka</h1>
<h1 class="c"></h1>
<br />
<br />
<br />


{% endblock %}
