{%  extends 'accounts/main.html' %}

{% block content %}
<style>
    p {
        text-align: center;
    }
</style>


<br>
<table class="table table-dark table-striped">
    <p>Sunday</p>

    <tr>
        <td>Breakfast (8:00-8:30AM)</td>
        <td>Mid-Meal (11:00-11:30AM)</td>
        <td>Lunch (2:00-2:30PM)</td>
        <td>Evening (4:00-4:30PM)</td>
        <td>Dinner (8:00-8:30PM)</td>
    </tr>
    <tr>
        <td><a href="https://recipes.sparkpeople.com/recipe-calories.asp?recipe=2685835">2 egg brown bread sandwich</a> + <a href="https://www.tarladalal.com/calories-for-green-chutney-how-to-make-green-chutney-recipe-22266#:~:text=One%20tsp%20of%20Green%20Chutney%20gives%203%20calories.,of%20a%20standard%20adult%20diet%20of%202%2C000%20calories.">green chutney</a> + <a href="https://www.fatsecret.ca/calories-nutrition/generic/milk?portionid=3&portionamount=1.000#:~:text=There%20are%20122%20calories%20in%201%20cup%20of,beginning%20any%20weight%20loss%20effort%20or%20diet%20regimen.">1 cup milk</a> + <a href="https://www.verywellfit.com/cashew-nutrition-facts-4586608">3 cashews</a> + <a href="https://www.verywellfit.com/almond-nutrition-facts-calories-and-health-benefits-4108974">4 almonds</a> + <a href="https://walnuts.org/nutrition/nutrition-information/">2 walnuts</a></td>
        <td><a href="https://nutritiondata.self.com/facts/recipe/3070939/2"> cup banana shake</a></td>
        <td><a href="https://www.fatsecret.com/calories-nutrition/generic/indian-dal?portionid=6958833&portionamount=1.000#:~:text=10.36g%20There%20are%20198%20calories%20in%201%20cup,52%25%20carbs%2C%2020%25%20protein.%20Other%20Common%20Serving%20Sizes%3A">1 cup arhar dal</a> + <a href="https://www.sparkpeople.com/calories-in.asp?food=potato+curry">1 cup potato curry</a> + <a href="https://www.eatthismuch.com/food/nutrition/chapati,112053/">3 chapatti</a> + <a href="https://www.fatsecret.com/calories-nutrition/usda/white-rice-flour">1/2 cup rice</a> + <a href="https://www.fatsecret.com/calories-nutrition/generic/cheese-curd">1/2 cup low fat curd</a> + <a href="https://www.fatsecret.com/calories-nutrition/food/salad">salad</a></td>
        <td><a href="https://www.fatsecret.com/calories-nutrition/generic/strawberry-smoothie">1 cup strawberry smoothie</a> + <a href="https://www.fatsecret.com/calories-nutrition/food/vegetables">1 cup vegetable poha</a></td>
        <td><a href="https://www.nutritionix.com/food/chicken-curry">1.5 cup chicken curry</a> +<a href="https://www.eatthismuch.com/food/nutrition/chapati,112053/">3 chapatti</a> + <a href="https://www.fatsecret.com/calories-nutrition/food/salad">salad</a></td>
    </tr>
</table>
<table class="table table-dark table-striped">
    <p>Monday</p>

    <tr>
        <td>Breakfast (8:00-8:30AM)</td>
        <td>Mid-Meal (11:00-11:30AM)</td>
        <td>Lunch (2:00-2:30PM)</td>
        <td>Evening (4:00-4:30PM)</td>
        <td>Dinner (8:00-8:30PM)</td>
    </tr>
    <tr>
        <td><a href="https://recipes.sparkpeople.com/recipe-calories.asp?recipe=2316988">3 onion stuffed parantha</a> + <a href="https://www.fatsecret.com/calories-nutrition/generic/cheese-curd#:~:text=There%20are%20210%20calories%20in%201%20cup%20of,Calorie%20breakdown%3A%2038%25%20fat%2C%2014%25%20carbs%2C%2048%25%20protein.">1 cup curd</a> + <a href="https://www.verywellfit.com/cashew-nutrition-facts-4586608">3 cashews</a> + <a href="https://www.verywellfit.com/almond-nutrition-facts-calories-and-health-benefits-4108974">4 almonds</a> + <a href="https://walnuts.org/nutrition/nutrition-information/">2 walnuts</a></td>
        <td><a href="https://your-calories.com/mango-shake">1 cup mango shake</a></td>
        <td><a href="https://www.myfitnesspal.com/food/calories/generic-yellow-moong-dal-raw-359809357">1 cup moong dal</a>/ <a href="https://www.nutritionix.com/food/chicken-curry">chicken curry</a> + <a href="https://www.sparkpeople.com/calories-in.asp?food=potato+curry"> 1 cup potato</a> and <a href="https://nutritiondata.self.com/facts/vegetables-and-vegetable-products/2390/2">caulifllower vegetable</a> + <a href="https://www.eatthismuch.com/food/nutrition/chapati,112053/">3 chapatti</a> + <a href="https://www.fatsecret.com/calories-nutrition/usda/white-rice-flour">1/2 cup rice </a>+ <a href="https://www.fatsecret.com/calories-nutrition/food/salad">salad</a></td>
        <td><a href="https://www.fatsecret.com/calories-nutrition/generic/pomegranate-juice?portionid=597054&portionamount=1.000#:~:text=There%20are%20154%20calories%20in%201%20cup%20of,91%25%20carbs%2C%205%25%20protein.%20Related%20Types%20of%20Juice%3A">1 cup pomegranate juice</a> + 2<a href="https://www.myfitnesspal.com/food/calories/generic-toasted-white-bread-with-butter-88880616"> butter toasted bread</a></td>
        <td><a href="https://www.fda.gov/food/food-labeling-nutrition/nutrition-information-raw-vegetables">1 cup beans potato vegetable</a> + 3<a href="https://www.eatthismuch.com/food/nutrition/chapati,112053/"> chapatti</a> + <a href="https://www.fatsecret.com/calories-nutrition/food/salad">salad</a></td>
    </tr>


</table>
<table class="table table-dark table-striped">
    <p>Tuesday</p>

    <tr>
        <td>Breakfast (8:00-8:30AM)</td>
        <td>Mid-Meal (11:00-11:30AM)</td>
        <td>Lunch (2:00-2:30PM)</td>
        <td>Evening (4:00-4:30PM)</td>
        <td>Dinner (8:00-8:30PM)</td>
    </tr>
    <tr>
        <td><a href="https://recipes.sparkpeople.com/recipe-calories.asp?recipe=1102310">3 paneer stuffed besan cheela</a> + <a href="https://www.tarladalal.com/calories-for-green-chutney-for-dhokla-sandwiches-indian-snacks-1468">green chutney </a>+ <a href="https://www.fatsecret.com/calories-nutrition/generic/cheese-curd#:~:text=There%20are%20210%20calories%20in%201%20cup%20of,Calorie%20breakdown%3A%2038%25%20fat%2C%2014%25%20carbs%2C%2048%25%20protein.">1 cup curd </a>+ 3 <a href="https://www.verywellfit.com/cashew-nutrition-facts-4586608">cashews </a>+ 4 <a href="https://www.verywellfit.com/almond-nutrition-facts-calories-and-health-benefits-4108974">almonds</a> + 2 <a href="https://walnuts.org/nutrition/nutrition-information/">walnuts</a></td>
        <td><a href="https://www.cancerhealth.com/article/healthy-recipe-apple-pie-smoothie">1 apple smoothie with maple syrup</a></td>
        <td><a href="https://www.fatsecret.com/calories-nutrition/search?q=1+cup+masoor+dal">1 cup masoor dal</a> + 1 <a href="https://www.nutritionfact.in/nutrition-facts/colocasia-benefits-and-nutritional-facts">cup calocasia </a>+ 3 <a href="https://www.eatthismuch.com/food/nutrition/chapati,112053/">chapatti </a>+ 1/2 <a href="https://www.fatsecret.com/calories-nutrition/usda/white-rice-flour">cup rice </a>+ 1 <a href="https://www.fatsecret.com/calories-nutrition/generic/cheese-curd#:~:text=There%20are%20210%20calories%20in%201%20cup%20of,Calorie%20breakdown%3A%2038%25%20fat%2C%2014%25%20carbs%2C%2048%25%20protein.">cup low curd</a> + <a href="https://www.fatsecret.com/calories-nutrition/food/salad">salad</a></td>
        <td><a href="https://www.fatsecret.com/calories-nutrition/generic/tomato-soup?portionid=24307&portionamount=1.000">1 cup tomato soup with bread crumbs</a> + 1 <a href="https://www.myfitnesspal.com/food/calories/aloo-tikki-chaat-15769299">cup aloo chaat</a></td>
        <td>1 <a href="https://www.fatsecret.com/calories-nutrition/usda/peas-and-carrots-(frozen)">cup carrot peas vegetable</a> +3 <a href="https://www.eatthismuch.com/food/nutrition/chapati,112053/">chapatti </a>+ <a href="https://www.fatsecret.com/calories-nutrition/food/salad">salad</a></td>
    </tr>


</table>
<table class="table table-dark table-striped">
    <p>Wednesday</p>

    <tr>
        <td>Breakfast (8:00-8:30AM)</td>
        <td>Mid-Meal (11:00-11:30AM)</td>
        <td>Lunch (2:00-2:30PM)</td>
        <td>Evening (4:00-4:30PM)</td>
        <td>Dinner (8:00-8:30PM)</td>
    </tr>
    <tr>
        <td><a href="https://recipes.sparkpeople.com/recipe-calories.asp?recipe=576510#:~:text=Calories%20per%20serving%20of%20vegetable%20upma%20180%20calories,11%20calories%20of%20Carrots%2C%20raw%2C%20%280.25%20cup%2C%20grated%29">1.5 cup vegetable bread upma</a> + 1 <a href="https://www.fatsecret.ca/calories-nutrition/generic/milk?portionid=3&portionamount=1.000#:~:text=There%20are%20122%20calories%20in%201%20cup%20of,Calorie%20Breakdown%3A%2036%25%20fat%2C%2038%25%20carbs%2C%2026%25%20prot.">cup milk</a> + 3 <a href="https://www.verywellfit.com/cashew-nutrition-facts-4586608">cashews + 4 </a><a href="https://www.verywellfit.com/almond-nutrition-facts-calories-and-health-benefits-4108974">almonds</a> + 2 <a href="https://walnuts.org/nutrition/nutrition-information/">walnuts</a></td>
        <td>1 <a href="https://www.hsph.harvard.edu/nutritionsource/food-features/bananas/">cup ripe banana with 2</a> <a href="https://fatcalories.org/calorie-content-of-products/calories-in-ghee.html">tsp ghee</a></td>
        <td>1 <a href="https://www.sparkpeople.com/calories-in.asp?food=rajma">cup rajma curry</a> + 1 <a href="https://www.fatsecret.com/calories-nutrition/usda/spinach?portionid=34521&portionamount=1.000#:~:text=There%20are%207%20calories%20in%201%20cup%20of,beginning%20any%20weight%20loss%20effort%20or%20diet%20regimen.">cup spinach potato</a> + 3 <a href="https://www.eatthismuch.com/food/nutrition/chapati,112053/">chapatti</a> + 1/2 <a href="https://www.fatsecret.com/calories-nutrition/usda/white-rice-flour">cup rice</a> + <a href="https://www.fatsecret.com/calories-nutrition/food/salad">salad</a></td>
        <td>1 <a href="https://www.fatsecret.com/calories-nutrition/food/vegetable-juice">cup vegetable juice</a> + 1 <a href="https://recipes.sparkpeople.com/recipe-calories.asp?recipe=1353068#:~:text=Calories%20per%20serving%20of%20Upma%20-1%20large%20cup,cup%29%2050%20calories%20of%20Canola%20Oil%2C%20%280.40%20tbsp%29">cup upma</a></td>
        <td>1.5 <a href="https://www.nutrition-and-you.com/pointed-gourd.html">cup parwal vegetable</a> + 3 <a href="https://www.eatthismuch.com/food/nutrition/chapati,112053/">chapatti</a> + <a href="https://www.fatsecret.com/calories-nutrition/food/salad">salad</a></td>

    </tr>


</table>
<table class="table table-dark table-striped">
    <p>Thursday</p>

    <tr>
        <td>Breakfast (8:00-8:30AM)</td>
        <td>Mid-Meal (11:00-11:30AM)</td>
        <td>Lunch (2:00-2:30PM)</td>
        <td>Evening (4:00-4:30PM)</td>
        <td>Dinner (8:00-8:30PM)</td>
    </tr>
    <tr>
        <td>2<a href="https://www.menuwithnutrition.com/great-steak-and-potato-company-menu-nutrition/cucumber-sandwich-topping-16142/"> cucmber potato sandwich</a> + 1 <a href="https://www.tarladalal.com/calories-for-green-chutney-for-dhokla-sandwiches-indian-snacks-1468">tsp green chutney</a> + 1 <a href="https://www.fatsecret.com/calories-nutrition/usda/orange-juice">orange juice</a> + 3 <a href="https://www.verywellfit.com/cashew-nutrition-facts-4586608">cashews</a> + 2 <a href="https://walnuts.org/nutrition/nutrition-information/">walnuts</a> + 4 <a href="https://www.verywellfit.com/almond-nutrition-facts-calories-and-health-benefits-4108974">almonds</a></td>
        <td>1 <a href="http://www.nutrientfacts.com/nutritionfacts/Buttermilk/">cup buttermilk</a> + 1 <a href="https://fatcalories.org/calorie-content-of-products/1-cup-sweet-potato-calories.html">cup sweet potato chaat</a></td>

        <td>1 <a href="https://recipes.sparkpeople.com/recipe-calories.asp?recipe=1688620">cup white chana</a> <a href="https://recipes.sparkpeople.com/recipe-calories.asp?recipe=16509">fish curry</a> + 3 <a href="https://www.eatthismuch.com/food/nutrition/chapati,112053/">chapatti</a> + 1/2 <a href="https://www.fatsecret.com/calories-nutrition/usda/white-rice-flour">cup rice</a> + <a href="https://www.fatsecret.com/calories-nutrition/food/salad">salad</a></td>
        <td>1 <a href="https://www.fatsecret.com/calories-nutrition/generic/milk-almond?portionid=342497#:~:text=What%20is%20my%20Recommended%20Daily%20Intake%20%28RDI%29%3F%20There,beginning%20any%20weight%20loss%20effort%20or%20diet%20regimen.">cup almond milk</a> + <a href="https://www.fatsecret.com/calories-nutrition/usda/bananas">banana</a></td>
        <td>1 <a href="https://www.fatsecret.com/calories-nutrition/usda/cauliflower">cup cauliflower</a> <a href="https://nutritiondata.self.com/foods-potato011000000000000000000.html">potato vegetable</a> + 3 <a href="https://www.eatthismuch.com/food/nutrition/chapati,112053/">chapatti</a> + <a href="https://www.fatsecret.com/calories-nutrition/food/salad">salad</a></td>
    </tr>


</table>
<table class="table table-dark table-striped">
    <p>Friday</p>

    <tr>
        <td>Breakfast (8:00-8:30AM)</td>
        <td>Mid-Meal (11:00-11:30AM)</td>
        <td>Lunch (2:00-2:30PM)</td>
        <td>Evening (4:00-4:30PM)</td>
        <td>Dinner (8:00-8:30PM)</td>
    </tr>
    <tr>
        <td>2 <a href="https://diet.ind.in/diet-health/nutrition-value-and-calories-in-poha/#:~:text=Calories%20In%20Poha%3A%20Poha%20is%20low%20in%20calories,to%20lose%20weight%20as%20it%20contains%20fewer%20calories.">cup vegetable poha</a> + 1 <a href="https://www.fatsecret.com/calories-nutrition/generic/cheese-curd#:~:text=There%20are%20210%20calories%20in%201%20cup%20of,Calorie%20breakdown%3A%2038%25%20fat%2C%2014%25%20carbs%2C%2048%25%20protein.">cup curd</a> + 3 <a href="https://www.verywellfit.com/cashew-nutrition-facts-4586608">cashews</a> + 4 <a href="https://www.verywellfit.com/almond-nutrition-facts-calories-and-health-benefits-4108974">almonds</a> + 2 <a href="https://walnuts.org/nutrition/nutrition-information/">walnuts</a></td>
        <td>2 <a href="https://www.fatsecret.com/calories-nutrition/generic/watermelon-juice#:~:text=There%20are%2071%20calories%20in%201%20cup%20of,Calorie%20breakdown%3A%204%25%20fat%2C%2089%25%20carbs%2C%207%25%20protein.">cups watermelon juice</a></td>
        <td>1 <a href="https://www.nutritionix.com/food/chana-dal">cup chana dal</a> + 1 <a href="https://www.sparkpeople.com/calories-in.asp?food=bhindi">cup bhindi vegetable</a> + 3 <a href="https://www.eatthismuch.com/food/nutrition/chapati,112053/">chapatti</a> + 1/2 <a href="https://www.fatsecret.com/calories-nutrition/usda/white-rice-flour">cup rice</a> + <a href="https://www.fatsecret.com/calories-nutrition/food/salad">salad</a></td>
        <td>1 <a href="https://www.eatthismuch.com/recipe/nutrition/sprout-salad,1021668/">cup sprouts salad</a> + 2 <a href="https://www.tarladalal.com/calories-for-besan-chilla-besan-cheela-33439">potato cheela</a> + <a href="https://www.tarladalal.com/calories-for-green-chutney-how-to-make-green-chutney-recipe-22266#:~:text=One%20tsp%20of%20Green%20Chutney%20gives%203%20calories.,of%20a%20standard%20adult%20diet%20of%202%2C000%20calories.">green chutney</a></td>
        <td>1 <a href="https://www.eatthismuch.com/recipe/nutrition/sauteed-mushrooms-with-green-peas,921889/">cup peas mushroom vegetable</a> + 3 <a href="https://www.eatthismuch.com/food/nutrition/chapati,112053/">chapatti</a> + <a href="https://www.fatsecret.com/calories-nutrition/food/salad">salad</a></td>
    </tr>


</table>
<table class="table table-dark table-striped">
    <p>Saturday</p>

    <tr>
        <td>Breakfast (8:00-8:30AM)</td>
        <td>Mid-Meal (11:00-11:30AM)</td>
        <td>Lunch (2:00-2:30PM)</td>
        <td>Evening (4:00-4:30PM)</td>
        <td>Dinner (8:00-8:30PM)</td>
    </tr>
    <tr>
        <td>3 <a href="https://www.vegrecipesofindia.com/rava-chilla-recipe-sooji-chilla/">vegetable suji cheela</a> + 1 <a href="https://www.sparkpeople.com/calories-in.asp?food=strawberry+shake">cup strawberry shake</a> + 4 <a href="https://www.verywellfit.com/cashew-nutrition-facts-4586608">cashews</a> + 4 <a href="https://www.verywellfit.com/almond-nutrition-facts-calories-and-health-benefits-4108974">almonds</a> + 3 <a href="https://walnuts.org/nutrition/nutrition-information/">walnuts</a></td>
        <td>1 <a href="https://www.verywellfit.com/coconut-water-nutrition-facts-calories-and-health-benefits-4110619">cup coconut water</a> + 1 <a href="https://www.verywellfit.com/pomegranate-calories-carbs-and-nutrition-facts-4169513">cup pomegrate</a></td>
        <td>1 <a href="https://recipes.sparkpeople.com/recipe-calories.asp?recipe=583680#:~:text=Calories%20per%20serving%20of%20Mixed%20dal%20-%201,Green%20Mung%20%28whole%29%20-%200.5%20cup%2C%20%280.17%20serving%29">cup mix dal</a> + 1 <a href="https://www.fatsecret.com/calories-nutrition/generic/soybeans-cooked-fat-not-added-in-cooking?portionid=13133&portionamount=1.000">cup soybean curry</a> + 3 <a href="https://www.eatthismuch.com/food/nutrition/chapati,112053/">chapatti</a> + 1/2 <a href="https://www.fatsecret.com/calories-nutrition/generic/cheese-curd#:~:text=There%20are%20210%20calories%20in%201%20cup%20of,Calorie%20breakdown%3A%2038%25%20fat%2C%2014%25%20carbs%2C%2048%25%20protein.">cup curd</a> + <a href="https://www.fatsecret.com/calories-nutrition/food/salad">salad</a></td>
        <td>1 <a href="https://www.fatsecret.com/calories-nutrition/generic/fruit-salad?portionid=4750288&portionamount=1.000">cup fruit salad</a> + 4 <a href="https://recipes.sparkpeople.com/recipe-calories.asp?recipe=732120">pc vegetable cutlets</a> + <a href="https://www.tarladalal.com/calories-for-green-chutney-how-to-make-green-chutney-recipe-22266#:~:text=One%20tsp%20of%20Green%20Chutney%20gives%203%20calories.,of%20a%20standard%20adult%20diet%20of%202%2C000%20calories.">green chutney</a></td>
        <td>1 <a href="https://www.healthline.com/nutrition/karela-juice">cup karela vegetable</a> + 3 <a href="https://www.eatthismuch.com/food/nutrition/chapati,112053/">chaptti</a> + <a href="https://www.fatsecret.com/calories-nutrition/food/salad">salad</a></td>

    </tr>


</table>

<br />

{% endblock %}
